<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="NodeThresholdCountForThrottling" value="150"/>
    <add key="MillisecondsToDelayPerNodeWhenThrottling" value="5"/>
    <add key="MaximumRenderShortDelay" value="1000"/>
    <add key="MinimumRenderCountToTriggerLongDelay" value="10"/>
    <add key="DefaultTokenColor" value="Black"/>
    <add key="DefaultTokenBackgroundColor" value="Transparent"/>
    <add key="DefaultTokenFontStyle" value="Regular"/>
    <add key="CommentTokenColor" value="ForestGreen"/>
    <add key="CommentTokenBackgroundColor" value="Transparent"/>
    <add key="CommentTokenFontStyle" value="Regular"/>
    <add key="KeywordTokenColor" value="Blue"/>
    <add key="KeywordTokenBackgroundColor" value="Transparent"/>
    <add key="KeywordTokenFontStyle" value="Regular"/>
    <add key="LiteralTokenColor" value="Crimson"/>
    <add key="LiteralTokenBackgroundColor" value="Transparent"/>
    <add key="LiteralTokenFontStyle" value="Regular"/>
    <add key="GraphNodeBorderColor" value="Black"/>
    <add key="GraphNodeTextColor" value="Black"/>
    <add key="GraphNodeBackgroundColor" value="LightBlue"/>
  </appSettings>
</configuration>