<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.13.1" targetFramework="net461" />
  <package id="Colorful.Console" version="1.2.10" targetFramework="net461" />
  <package id="CommandLineParser" version="2.7.82" targetFramework="net461" />
</packages>